## Import libraries

In [1]:
import numpy as np
import pandas as pd

## Loading Dataset

In [2]:
data = pd.read_csv("Dataset/loan_data.csv")
## 
df = data.copy()

## Overviewing of Dataset

In [3]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y

In [4]:
df.tail().T

                        376       377       378       379        380
Loan_ID            LP002953  LP002974  LP002978  LP002979   LP002990
Gender                 Male      Male    Female      Male     Female
Married                 Yes       Yes        No       Yes         No
Dependents               3+         0         0        3+          0
Education          Graduate  Graduate  Graduate  Graduate   Graduate
Self_Employed            No        No        No        No        Yes
ApplicantIncome        5703      3232      2900      4106       4583
CoapplicantIncome       0.0    1950.0       0.0       0.0        0.0
LoanAmount            128.0     108.0      71.0      40.0      133.0
Loan_Amount_Term      360.0     360.0     360.0     180.0      360.0
Credit_History          1.0       1.0       1.0       1.0        0.0
Property_Area         Urban     Rural     Rural     Rural  Semiurban
Loan_Status               Y         Y         Y         Y          N

In [5]:
print(f'total number of rows: {df.shape[0]} => total number of columns: {df.shape[1]}')

total number of rows: 381 => total number of columns: 13

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            381 non-null    object
 1   Gender             376 non-null    object
 2   Married            381 non-null    object
 3   Dependents         373 non-null    object
 4   Education          381 non-null    object
 5   Self_Employed      360 non-null    object
 6   ApplicantIncome    381 non-null    int64
 7   CoapplicantIncome  381 non-null    float64
 8   LoanAmount         381 non-null    float64
 9   Loan_Amount_Term   370 non-null    float64
 10  Credit_History     351 non-null    float64
 11  Property_Area      381 non-null    object
 12  Loan_Status        381 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 38.8+ KB

In [7]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [8]:
df.isnull().sum()

Loan_ID               0
Gender                5
Married               0
Dependents            8
Education             0
Self_Employed        21
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     11
Credit_History       30
Property_Area         0
Loan_Status           0
dtype: int64

## Data Preprocessing - Step 1
- Normalize the column names to lower case
- Drop the ID column
- Remove the (+) sign on the Dependants column
- Fill the NaN in the (Dependants, Credit_History, Loan_Amount, Gender, Self_Employed) columns
- Change the dtypes for (Gender, Married, Self_Employed) to categorical
- Replace categorical column(Gender, Married, Self_Employed and Loan-Status) with integers

In [9]:
df.columns = df.columns.str.lower()
df.columns

Index(['loan_id', 'gender', 'married', 'dependents', 'education',
       'self_employed', 'applicantincome', 'coapplicantincome', 'loanamount',
       'loan_amount_term', 'credit_history', 'property_area', 'loan_status'],
      dtype='object')

In [10]:
df = df.drop(['loan_id'], axis=1)

In [11]:
## remove + from the dependents column
df['dependents'] = df['dependents'].str.replace('+', '')

In [12]:
## convert the dependents column type to float
df['dependents'] = df['dependents'].astype('float')

In [13]:
df['dependents'].isnull().sum()

8

In [14]:
## fill the null values in the dependents column
df['dependents'] = df['dependents'].fillna(df['dependents'].mean())

In [15]:
## fill the null values in the credit_history column
df['credit_history'] = df['credit_history'].fillna(df['credit_history'].mean())

In [16]:
## fill the null values in the loan_amount_term column
df['loan_amount_term'] = df['loan_amount_term'].fillna(df['loan_amount_term'].mean())

In [17]:
## convert the dependents column type to integers
df['dependents'] = df['dependents'].astype('int64')

In [18]:
## convert the loan_amount_term column type to integer
df['loan_amount_term'] = df['loan_amount_term'].astype('int64')

In [19]:
## convert the applicantincome column type to float
df['applicantincome'] = df['applicantincome'].astype('float')

In [20]:
## convert the credit history column type to integer
df['credit_history'] = df['credit_history'].astype('int64')

In [21]:
## convert the gender column type to category
df['gender'] = df['gender'].astype('category')

In [22]:
## convert the astype of the gender from category to integer
df.gender = (df.gender == 'Male').astype(int)

In [23]:
## convert the married column type to category
df['married'] = df['married'].astype('category')

In [24]:
## convert the astype of the married from category to integer
df.married = (df.married == 'Yes').astype(int)

In [25]:
## convert the self employed column type to category
df['self_employed'] = df['self_employed'].astype('category')

In [26]:
## convert the astype of the self employed from category to integer
df.self_employed = (df.self_employed == 'No').astype(int)

In [27]:
## target variable 
df.gender.value_counts()

gender
1    291
0     90
Name: count, dtype: int64

In [28]:
## fill the missing value of the gender column to Male
df.gender = df.gender.fillna("Male")

In [29]:
df.self_employed.value_counts()

self_employed
1    325
0     56
Name: count, dtype: int64

In [30]:
## fill the missing value of the self employed column to No
df.self_employed = df.self_employed.fillna("No")

In [31]:
## confirming the null values
df.isnull().sum()

gender               0
married              0
dependents           0
education            0
self_employed        0
applicantincome      0
coapplicantincome    0
loanamount           0
loan_amount_term     0
credit_history       0
property_area        0
loan_status          0
dtype: int64

In [32]:
## confirming the dtypes
df.dtypes

gender                 int32
married                int32
dependents             int64
education             object
self_employed          int32
applicantincome      float64
coapplicantincome    float64
loanamount           float64
loan_amount_term       int64
credit_history         int64
property_area         object
loan_status           object
dtype: object

In [33]:
df.loan_status.head()

0    N
1    Y
2    Y
3    Y
4    Y
Name: loan_status, dtype: object

In [34]:
## convert the astype of the loan status from category to integer
df.loan_status = (df.loan_status == 'N').astype(int)

In [35]:
df.loan_status.head()

0    1
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int32

In [36]:
df.head()

,gender,married,dependents,education,self_employed,applicantincome,coapplicantincome,loanamount,loan_amount_term,credit_history,property_area,loan_status
0,1,1,1,Graduate,1,4583.0,1508.0,128.0,360,1,Rural,1
1,1,1,0,Graduate,0,3000.0,0.0,66.0,360,1,Urban,0
2,1,1,0,Not Graduate,1,2583.0,2358.0,120.0,360,1,Urban,0
3,1,0,0,Graduate,1,6000.0,0.0,141.0,360,1,Urban,0
4,1,1,0,Not Graduate,1,2333.0,1516.0,95.0,360,1,Urban,0

In [37]:
## saving the cleaned loan dataset
df.to_csv("cleaned_loan_status_dataset.csv")